<div class="min-h-screen bg-bgColor flex flex-col items-center justify-center px-4 sm:px-6 lg:px-8 ">
  <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
    <h2 class="font-bold text-2xl ">Edit Wallet</h2>
    <%= render partial: 'form' %>
  </div>
</div>
