<div class="max-w-md mx-auto w-full rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-10 min-h-screen bg-white">
  <div class="md:flex flex flex-col">
    <div class="flex items-center p-8">
      <div>
  <h3>Expense vs Income</h3>
  <%= pie_chart @transactions_by_category, colors: ["#b00", "#00C853"] %>
</div>

    </div>
  </div>
</div>


<% content_for :header do %>
  <%= render 'header', title: 'Home'%>
<% end %>

<% content_for :navbar do %>
  <%= render 'navbar', title: 'Transaction' %>
<% end %>
