<% if errors.present? %>
  <div class="flex flex-row bg-red-50 rounded-xl items-stretch">
    <div class="flex px-4 bg-red-200 rounded-md items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F87171" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
      </svg>
    </div>
    <div class= "p-4 mb-4 text-sm text-red-800 rounded-lg text-red-400" >
      <p><strong>Gagal Submit Data</strong></p>
      <ul>
        <% errors.each do |error| %>
          <li ><%= error %>.</li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
